In [4]:
import pandas as pd
import matplotlib.pyplot as plt

# Sample data
data = {
    'Year': [2010, 2011, 2012, 2013, 2014],
    'Revenue': [10000, 15000, 20000, 25000, 30000]
}

# Create DataFrame
df = pd.DataFrame(data)

C:\Users\sstar\anaconda3\envs\imed\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [5]:
df

   Year  Revenue
0  2010    10000
1  2011    15000
2  2012    20000
3  2013    25000
4  2014    30000